.idea
vendor

wp-content/plugins/advanced-custom-fields
wp-content/plugins/bootstrap-shortcodes
wp-content/plugins/breadcrumb-trail
wp-content/plugins/mailchimp-for-wp
wp-content/plugins/responsive-lightbox
wp-content/plugins/wp-retina-2x
wp-content/uploads/
wp/
wp-config.php
